<center><div id='fixedban' style='width:100%;margin:auto;text-align:center;float:none;overflow:hidden;display:scroll;position:fixed;bottom:0;z-index:999;-webkit-transform:translateZ(0);'>
	<div style='text-align:center;display:block;width:107px;height:auto;overflow:hidden;margin:auto'>
		<a id='close-fixedban' onclick='document.getElementById("fixedban").style.display = "none";' style='cursor:pointer;'><img alt='close' src='https://1.bp.blogspot.com/-vG3NcR9kQM8/YZkB_Zqbo4I/AAAAAAAACmg/vQBXTUkb-sIdpCnj0PjUwFAd6UZcTty6wCLcBGAsYHQ/s100/close-b.png' title='close button' style='vertical-align:middle;'/></a>
	</div>
	<div style='text-align:center;display:block;max-width:300px;height:auto;overflow:hidden;margin:auto'>
    <script src='//wrkp.my.id/old-static/300.js' type='text/javascript'></script>
	</div>
</div></center>